


<div class="columns home-text" >
    <div class="column">
    </div>

    <div class="column is-half has-background-success home-column">

        <div class="level-item has-text-black">
            <h2>Click on the 'Register' button to register. </h2>
        </div>

        <hr/>

        <div class="level-item has-text-black">
            <h2>If you're already registered, click on the 'Login' button to login.</h2>
        </div>

        <hr/>

        <div class="level-item has-text-black">
            <h2>This app can be used to find the total value of a portfolio
            of stocks.  Once a user logs in, they can enter the stock symbols
            and number of shares of each stock, and the app will pull the latest
            stock prices.  It will then calculate the current value of each
            stock held, and will sum the result to display the total value
            of the portfolio.</h2>
        </div>

    </div>

    <div class="column">
    </div>


</div>
