


<div class="columns home-text" >
    <div class="column">
    </div>

    <div class="column is-half has-background-success home-column">
        <div class="level-item has-text-white">
            <h2>This is what the app is about.</h2>
        </div>

        <div class="level-item has-text-white">
            <h2>Click on the 'Register' button to register. </h2>
        </div>

        <div class="level-item has-text-white">
            <h2>If you're already registered, click on the 'Login' button to login.</h2>
        </div>
    </div>

    <div class="column">
    </div>


</div>
