<div class="hero is-success is-small">

    <div class="hero-body has-text-centered total-value">

        <h1 class="is-size-1 has-text-weight-bold has-text-white">Total Value</h1>



        <div class="columns">

            <div class="column has-text-centered">
                <a class="button is-rounded is-link" ng-click="actrl.changeInclude('home')">Home</a>
            </div>

            <div class="column has-text-centered">
                <a class="button is-rounded is-link" ng-click="actrl.changeInclude('register')">Register</a>
            </div>

            <div class="column has-text-centered">
                <a class="button is-rounded is-link" ng-click="actrl.changeInclude('login')">Login</a>
            </div>

            <hr/>

        </div>

    </div>

</div>
